* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: system-ui, -apple-system, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
}

main {
  padding: 20px;
  height: 100%;
  max-width: 100vw;
  background: linear-gradient(to right bottom, rgb(26, 26, 26), rgb(35, 35, 35), black);
}
main section {
  color: white;
  height: 85vh;
  width: 90vw;
  border-radius: 10px;
  margin: auto;
}
main section .all-reels {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
main section .all-reels::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 20px;
}
main section .all-reels .reel {
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
main section .all-reels .reel video {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main section .all-reels .reel .bottom {
  padding: 30px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.817));
  width: 100%;
  position: absolute;
  bottom: 0;
}
main section .all-reels .reel .bottom h3 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: 400;
  font-size: 27px;
}
main section .all-reels .reel .bottom .user {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
main section .all-reels .reel .bottom .user h4 {
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main section .all-reels .reel .bottom .user button {
  padding: 6px 10px;
  border-radius: 50px;
  font-weight: 200;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 0.1px solid white;
  background-color: transparent;
  transition: all 0.6s ease;
}
main section .all-reels .reel .bottom .user button:active {
  scale: 0.95;
  background-color: #000000;
}
main section .all-reels .reel .bottom .user img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .all-reels .reel .right {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 40px;
  position: absolute;
  right: 2%;
  padding: 25px;
  padding-right: 30px;
  bottom: 20%;
}
main section .all-reels .reel .right > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main section .all-reels .reel .right .love {
  color: #f80268;
}
main section .all-reels .reel .right i {
  font-size: 30px;
  font-weight: 100;
}
main section .all-reels .reel .right .icon {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.5s ease;
}
main section .all-reels .reel .right .icon:active {
  scale: 0.9;
}
main section .all-reels .reel .right h6 {
  font-size: 20px;
  font-weight: 500;
}
@media (min-width: 1024px) {
  main section {
    height: 800px;
    width: 24vw;
  }
  main section .all-reels .reel .right {
    bottom: 19%;
    gap: 15px;
  }
  main section .all-reels .reel .bottom h3 {
    font-size: 26px;
    font-weight: 300;
  }
  main section .all-reels .reel .bottom .user {
    align-items: center;
  }
  main section .all-reels .reel .bottom .user img {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  main section .all-reels .reel .bottom .user h4 {
    font-size: 30px;
  }
  main section .all-reels .reel .bottom .user button {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */